* {
  margin: 0;
  padding: 0;
}
.App {
  width: 90%;
  flex-grow: 1;
  margin: 0 auto;
}
.table {
  min-width: 700;
}
.root:nth-of-type(odd) {
  background-color: grey;
}
#btn {
  position: relative;
  /* margin-left: -50px !important; */
}
select{
  margin-left:10px;
}
